<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingo.mapper.LocationMapper">
    <select id="getUserLocation" resultType="com.pingo.entity.users.Userlocation">
        SELECT "USERNO" as "userNo", "LATITUDE" as "latitude", "LONGITUDE" as "longitude"
        FROM "USER_LOCATIONS"
        WHERE "USERNO" = #{userNo}
    </select>

    <update id="updateUserLocation">
        MERGE INTO "USER_LOCATIONS" ul
        USING (
        SELECT #{userNo} AS USERNO, #{latitude} AS LATITUDE, #{longitude} AS LONGITUDE FROM dual
        ) dummy
        ON (ul."USERNO" = dummy.USERNO)
        WHEN MATCHED THEN
        UPDATE SET
        ul."LATITUDE" = dummy.LATITUDE,
        ul."LONGITUDE" = dummy.LONGITUDE,
        ul."LAST_UPDATED" = SYSTIMESTAMP,
        ul."LOCATION" = SDO_GEOMETRY(2001, 8307, SDO_POINT_TYPE(dummy.LONGITUDE, dummy.LATITUDE, NULL), NULL, NULL)
        WHEN NOT MATCHED THEN
        INSERT ("USERNO", "LATITUDE", "LONGITUDE", "LAST_UPDATED", "LOCATION")
        VALUES (dummy.USERNO, dummy.LATITUDE, dummy.LONGITUDE, SYSTIMESTAMP,
        SDO_GEOMETRY(2001, 8307, SDO_POINT_TYPE(dummy.LONGITUDE, dummy.LATITUDE, NULL), NULL, NULL))
    </update>
</mapper>