<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingo.mapper.MainMapper">
    <select id="selectNearbyUsers" resultType="com.pingo.dto.profile.MainProfileResponseDTO">
        SELECT
        U."userNo",
        U."userName",
        UI."userBirth",
        '접속중' AS "status",
        -- 거리를 계산하되 필터링은 하지 않음 (단위: KM)
        ROUND(
        SDO_GEOM.SDO_DISTANCE(
        YOUR_LOC."LOCATION",
        (SELECT "LOCATION" FROM "USER_LOCATIONS" WHERE "USERNO" = #{userNo}),
        0.005, 'unit=KM'
        ), 1
        ) AS "distance",
        (
        SELECT LISTAGG(IMG."imageUrl", ',') WITHIN GROUP (ORDER BY IMG."imageProfile" DESC, IMG."imageNo")
        FROM "userImage" IMG
        WHERE IMG."userNo" = U."userNo"
        ) AS "images"
        FROM "users" U
        JOIN "userInfo" UI ON U."userNo" = UI."userNo"
        JOIN "USER_LOCATIONS" YOUR_LOC ON U."userNo" = YOUR_LOC."USERNO"
        WHERE U."userNo" != #{userNo}
        ORDER BY "distance" ASC
    </select>
</mapper>