<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingo.mapper.UserMapper">

    <resultMap id="UserInfoResultMap" type="com.pingo.entity.users.UserMypageInfo">
        <association property="users" javaType="com.pingo.entity.users.Users">
            <id column="userNo" property="userNo"/>
            <result column="userId" property="userId"/>
            <result column="userPw" property="userPw"/>
            <result column="userName" property="userName"/>
            <result column="userNick" property="userNick"/>
            <result column="userGender" property="userGender"/>
            <result column="userState" property="userState"/>
            <result column="userRole" property="userRole"/>
            <result column="userrDate" property="userrDate"/>
            <result column="userEmail" property="userEmail"/>
        </association>

        <association property="userInfo" javaType="com.pingo.entity.users.UserInfo">
            <id column="userNo" property="userNo"/>
            <result column="userBirth" property="userBirth"/>
            <result column="userHeight" property="userHeight"/>
            <result column="userAddress" property="userAddress"/>
            <result column="user1stJob" property="user1stJob"/>
            <result column="user2ndJob" property="user2ndJob"/>
            <result column="userReligion" property="userReligion"/>
            <result column="userDrinking" property="userDrinking"/>
            <result column="userSmoking" property="userSmoking"/>
            <result column="userBloodType" property="userBloodType"/>
        </association>
    </resultMap>

    <select id="getUserMypageInfo" parameterType="string" resultMap="UserInfoResultMap">
        SELECT
        U."userNo", U."userId", U."userPw", U."userName", U."userNick",
        U."userGender", U."userEmail", U."userRole", U."userState", U."userrDate",
        UI."userBirth", UI."userHeight", UI."userAddress",
        UI."user1stJob", UI."user2ndJob", UI."userReligion",
        UI."userDrinking", UI."userSmoking", UI."userBloodType"
        FROM "users" U
        LEFT JOIN "userInfo" UI ON U."userNo" = UI."userNo"
        WHERE U."userNo" = #{userNo}
    </select>

    <select id="getMatchUser" parameterType="string" resultType="com.pingo.entity.match.MatchUser">
        SELECT US."userName", UF."userBirth", UI."imageUrl"
        FROM "users" US
        JOIN "userInfo" UF ON US."userNo" = UF."userNo"
        LEFT JOIN "userImage" UI ON US."userNo" = UI."userNo" AND UI."imageProfile" = 'T'
        WHERE US."userNo" = #{userNo}
    </select>

    <select id="getUserImages" parameterType="string" resultType="com.pingo.entity.users.UserImage">
        SELECT "imageNo", "imageUrl", "imageProfile", "userNo"
        FROM "userImage"
        WHERE "userNo" = #{userNo}
    </select>

    <select id="getUserKeyword" parameterType="string" resultType="com.pingo.entity.users.UserKeyword">
        SELECT "userNo", "my", "favorite"
        FROM "userKeyword"
        WHERE "userNo" = #{userNo}
    </select>

    <select id="getUserKeywordDetail" resultType="com.pingo.entity.keywords.Keyword">
        SELECT * FROM "keyword"
        WHERE "kwId" IN
        <foreach item="item" collection="myKeywords" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectUserIntroduction" parameterType="string" resultType="string">
        SELECT "introduction" FROM "userIntroduction"
        WHERE "userNo" = #{userNo}
    </select>

    <update id="setMainImageAsSubImage" parameterType="string">
        UPDATE "userImage"
        SET "imageProfile" = 'F'
        WHERE "imageNo" = #{currentMainImageNo}
    </update>

    <update id="setSubImageAsMainImage" parameterType="string">
        UPDATE "userImage"
        SET "imageProfile" = 'T'
        WHERE "imageNo" = #{newMainImageNo}
    </update>

    <insert id="addUserImage">
        INSERT INTO "userImage" ("imageNo", "imageUrl", "imageProfile", "userNo")
        VALUES (#{imageNo}, #{imageUrl}, #{imageProfile}, #{userNo})
    </insert>

    <delete id="deleteUserImage" parameterType="string">
        DELETE FROM "userImage"
        WHERE "imageNo" = #{imageNoForDelete}
    </delete>

    <update id="updateUserEmail">
        UPDATE "users"
        SET "userEmail" = #{userEmail}
        WHERE "userNo" = #{userNo}
    </update>

    <update id="updateUserInfo" parameterType="com.pingo.entity.users.UserInfo">
        UPDATE "userInfo"
        SET "userBirth" = #{userBirth}, "userHeight" = #{userHeight}, "userAddress" = #{userAddress},
        "user1stJob" = #{user1stJob}, "user2ndJob" = #{user2ndJob}, "userReligion" = #{userReligion},
        "userDrinking" = #{userDrinking}, "userSmoking" = #{userSmoking}, "userBloodType" = #{userBloodType}
        WHERE "userNo" = #{userNo}
    </update>

    <update id="updateUserKeyword">
        UPDATE "userKeyword"
        SET "my" = #{myKeyword}, "favorite" = #{favoriteKeyword}
        WHERE "userNo" = #{userNo}
    </update>

    <update id="updateUserIntro">
        UPDATE "userIntroduction"
        SET "introduction" = #{userIntroduction}
        WHERE "userNo" = #{userNo}
    </update>

    <select id="findUserId" parameterType="map" resultType="string">
        SELECT "userId" FROM "users"
        WHERE "userName" = #{userName} AND "userEmail" = #{userEmail}
    </select>

    <select id="findUserPw" parameterType="map" resultType="string">
        SELECT "userNo" FROM "users"
        WHERE "userId" = #{userId} AND "userEmail" = #{userEmail}
    </select>

    <update id="resetUserPw">
        UPDATE "users"
        SET "userPw" = #{userPw}
        WHERE "userNo" = #{userNo}
    </update>

</mapper>